<div class="row">
    <div class="col-md-9 mt-5">
      <div class="card" style="height: 515px; ">
        <div class="card-body" style="max-height: 700px;">
          <h5 class="card-title">Chart </h5>
          <canvas style="max-width: 2200px; max-height: 400px; margin-bottom: 30px; " id="chart" width="668" height="334" ></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-5">
      <div class="card" style="height: 515px;">
        <div class="card-body mt-3">



            <div class="d-flex justify-content-center py-1 mb-4 mt-5">
              <label for="seriesNumber" class="card-title">Total series: <span id="seriesCount" style="border:0;" class="info-title">0</span></label>
            </div>
    

            
            <!-- Threshold slider -->
            <div class="d-flex justify-content-center py-1 mb-4 mt-5">
                <label for="range" class="card-title">Threshold: <span>-1 , 1</span></label>
            </div>

            <!-- Slice Size Selection -->
            <div class="d-flex justify-content-center py-1 mb-4 mt-5">
                <label for="range" class="card-title">Window size: <span>0</span></label>
            </div>


    
        </div>
      </div>
    </div>
    
  </div>